<%- include ('header') %> 
<div class="resultado-cotacao">
  <img id="gif" src="https://media.giphy.com/media/3owypp3sZhfteMiqha/giphy.gif" alt="">
  <% if(error){ %> 
    <%= error  %>
  <%}else { %>
    Cotaçao: <%= cotacao %>
    Quantidade: <%= quantidade %>
    Resultado: <%= conversao %> dolares
  <% } %> 
</div>
<%- include ('footer') %> 