<%- include ('header') %> 
<div class="resultado-cotacao">
  <% if(error){ %> 
  <%= error  %>
  <%}else { %>
    Cotaçao: <%= cotacao %>
    Quantidade: <%= quantidade %>
    Resultado: <%= conversao %> dolares
  <% } %> 
</div>
<%- include ('footer') %> 