<%- include ('header') %> 
<div class="resultado-cotacao">
  <div class="content">
    <img id="gif" src="https://media.giphy.com/media/3owypp3sZhfteMiqha/giphy.gif" alt="">
    <% if(error){ %> 
      <%= error  %>
    <%}else { %>
      <div class="result">
        Cotaçao: <%= cotacao %>
        Quantidade: <%= quantidade %>
        Resultado: <%= conversao %> dolares
      </div>
    <% } %> 

  </div>
</div>
<%- include ('footer') %> 